<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
  <br/>
  <div class="row justify-content-center">
  <h3>Open Graph URL Image Fetch Tool</h3>
  </div>
	<div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm">
          <div class="card-body row no-gutters align-items-center">
            <div class="col">
              <input class="form-control form-control-lg form-control-borderless" id="input-url" type="search" placeholder="http://">
            </div>

            <div class="col-auto">
              <button class="btn btn-lg btn-success" type="button" id="query-page-button">Submit</button>
            </div>

          </div>
        </form>
      </div>
  </div>

	<div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm">
          <div class="card-body row no-gutters align-items-center">
            <div class="d-flex content-center">
                <span class="center-block" id="og_url" align="center"></span>        
            </div>
          </div>
          <div class="d-flex justify-content-center">         
            <img src="" id="og_image" class="center-block">
          </div>
        </form>
      </div>
  </div>
</div>